<app-user-filter></app-user-filter>
<table class="table">
  <thead>
    <th scope="col">#</th>
    <th scope="col" >Name</th>
    <th scope="col" >Last name</th>
    <th scope="col" >Adress</th>
    <th scope="col" >Age</th>
    <th scope="col">Action</th>
  </thead>
  <tbody>
    <tr *ngFor="let user of users" >
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.adress}}</td>
      <td>{{user.age}}</td>
      <td><button class="btn btn-danger" (click)="deleteClick(user)">Delete</button>
      <button class="btn btn-warning" (click)="editClick(user)" routerLinkActive="active" routerLink="../users-edit" >Edit</button></td>
    </tr>
  </tbody>
</table>
